<div class="row">
    <div class="col-x-12">
        <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg" alt="" class="img-responsive" height="300px" width="300px">
    </div>
</div>

<br>

<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Manage
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">To Shopping List</a></li>
              <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
              <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
          </div>
    </div>
</div>