<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>

<hr>

<div class="d-flex flex-row justify-content-between">
  <div class="row">
    <div class="list-group" *ngFor="let recipe of recipes">
      <div class="list-group-item d-flex flex-row justify-content-between">
        <div class="d-flex flex-column">
          <h5>{{recipe.name}}</h5>
          <p>{{recipe.description}}</p>
        </div>
        <img src={{recipe.imagePath}} alt={{recipe.name}} width="50px" height="50px" >
      </div>
    </div>
  </div>
</div>
